header#mainHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    background: #b9cad48c;
    flex-flow:row nowrap;
    /*width: 400px;  */
    border-radius:32px;
    height: 80px;
    align-items: center;
    
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
    margin: 10px;
    /* position:sticky; */
    top:0;
    z-index: 1;
  
}

.inHeader > img{
    height: 2rem; 
}
a{
    color: white;
    font-size: 1rem;
}
.inNav{
    display:flex;
    justify-content: flex-end;
}