<app-banner>
    
</app-banner>

<div class="row" id="perfil">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">        
        <div class="info">
            <div class="info-img">
                <div class="d-flex justify-content-end" style="background-color: blueviolet">
                <app-editbutton id="fantasma" *ngIf="login" (click)="abrirModal(persona.idpersona)"class="me-2" style="background-color: red;"></app-editbutton>
                </div>               
                <img [src]="persona.fotourl"
                    id="profile-img" alt="Foto de perfil de {{persona.nombre}}">
            </div>
            <div class="info-text">
                <h1 class="card-title">{{persona.nombre}} {{persona.apellido}}</h1>
                <p  class="card-text">{{persona.titulo}}</p>
                <div id="info-contact" class="localidad grey">{{persona.ubicacion}}</div>
                 <p class="card-text ekis">📞{{persona.telefono}}</p>
                 <p class="card-text">🗨{{persona.email}}</p>

            </div>
           </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
    <app-about>
       
    </app-about>
</div>
</div>